/* ヘッダー */
#header {
    position: fixed;
    width: 100%;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: seagreen;
}

#header p {
    font-weight: bold;
    color: white;
    margin: auto 0;
}

/* サイドバー */
#side-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    min-height: calc(100vh - 80px);
    background-color: aqua;
}

#side-bar p {
    font-weight: bold;
}

/* リスト */
#list {
    width: 100%;
    margin-top: 15px;
}

#list table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 80%;
}

#list table tbody tr td:first-child {
    text-align: center;
}

#list table thead tr th, #list table tr td {
    padding: 8px;
}

/* ページネーション */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    gap: 20px 6px;
}

.page-item,
.page-link {
    display: inline-flex;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    height: 40px;
    width: 40px;
}

.page-item {
    cursor: pointer;
    border: 1px solid black;
}

/* その他 */
.blank {
    width: 100%;
    height: 80px;
}

.flex-box {
    display: flex;
    width: 100%;
    height: 100%;
}